[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8-print = "*"
flake8-import-order = "*"

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.10"
